h3 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
}
.button {
  display: inline-block;
  border: #ee7623 solid 2px;
  border-radius: 10px;
}
.buttons {
  /* display: flex;
  justify-content: space-between; */
  width: 150px;
  padding-top: 5px;
  margin: 5px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%);
}

.button:hover {
  border: black solid 2px;
}

#submitcontract {
  background-color: #ee7623;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%);
}
.contractbuttons {
  /* display: flex;
  justify-content: space-between; */
  width: 150px;
  padding-top: 5px;
  margin: 5px;
}
.form {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 20%;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;

  width: fit-content;
  height: fit-content;
  padding: 15px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px;
}
