.searchBar {
  position: relative;
  left: 17vw;
  text-align: center;
  width: 40%;
  border-radius: 10px;
}

.searchIcon {
  position: relative;
  left: 17vw;
  width: 30px;
  margin-left: 10%;
  float: left;
}
