.li {
  display: inline;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: 7px;
  border: black solid 1px;
}

.progress > p {
  display: inline-block;
  margin: 5px;
}

.progress {
  margin: 0 auto;
  margin-top: 10px;
  border: 2px solid black;
  width: 30%;
  height: 70vh;
  overflow: auto;
}

.progress > h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 5px;
}
