#left {
  float: left;
  margin-left: 8vw;
}
#right {
  float: right;
  margin-right: 8vw;
}

.contractSummary {
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 12px;
  width: 38vw;
  height: 270px;
  display: inline-block;
  padding: 10px;
}
.summaryTitle {
  margin-block-start: 0px;
  font-size: medium;
  text-align: center;
  margin-top: 10px;
}

.contract {
  border: 2px solid black;
  border-radius: 12px;
  width: 83.5vw;
  display: inline-block;
  padding: 10px;
}
